{% extends "layout.html" %}

{% block title %}
    Player ranking
{% endblock %}

{% block main %}
    <h1>Player ranking</h1>
    <h6>Note: Table is sortable. Click table header to sort.</h6>
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Lose</th>
                <th># of games</th>
                <th>Total</th>
                <th>Average</th>
                <th>Win %</th>
            </tr>
        </thead>

        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player[1] }}</td>
                <td>{{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[4] }}</td>
                <td>{{ player[2] + player[3] + player[4] }}</td>
                <td>{{ ((player[2] * 3) + (player[3] * 1)) }}</td>
                <td>{% if player[2] + player[3] + player[4] != 0 %}
                    {{'%0.2f' | format(((player[2] * 3) + (player[3] * 1)) / (player[2] + player[3] + player[4])|float) }}
                    {% else %}
                    {{ 0 }}
                    {% endif %}
                </td>
                <td>
                    {% if player[2] + player[3] + player[4] != 0 %}
                    {{'%0.2f' | format((player[2] / (player[2] + player[3] + player[4])) * 100|float) }}
                    {% else %}
                    {{ 0 }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}